<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace一定要指定，？？ -->
<mapper namespace="com.jky.user.dao.UserMapper">
    <!-- 根据id查询 -->
    <select id="queryById" parameterType="int" resultMap="userResultMapper"> select * from tbl_user where u_id=#{uid}
    </select>
    <!-- 根据用户名和密码查询 -->
    <select id="queryByNameAndPassword" parameterType="com.jky.user.entity.User" resultMap="userResultMapper"> select * from
        tbl_user where uname=#{uname} and upass=#{upassword}
    </select>
    <!-- 添加用户 -->
    <insert id="addUser" parameterType="com.jky.user.entity.User">
        insert into tbl_user values(hibernate_sequence.nextval,#{uname},#{upassword},#{ulevel})
        <selectKey order="AFTER" keyProperty="uid" resultType="int"> select hibernate_sequence.currval from dual
        </selectKey>
    </insert>
    <resultMap type="com.jky.user.entity.User" id="userResultMapper">
        <id property="uid" column="u_id" javaType="int" />
        <result column="uname" property="uname" />
        <result column="upass" property="upassword" />
        <result column="u_level" property="ulevel" />
    </resultMap>
</mapper>